#shelf-section{
    margin: 25px auto 70px;
    display:block;
    width: 80%;
}


#shelf-section .slick-slide > div {
  margin: 0 5vw;
}
#shelf-section .slick-list {
  margin: 0 -5vw;
}

#shelf-section .slick-prev{
    width: 22px;
    height: 22px;
    left: -44px;
    z-index: 10;
}

#shelf-section .slick-next {
    width: 22px;
    height: 22px;
    right: -44px;
    z-index: 10;
}

#shelf-section .slick-prev::before{
    color: initial;
    content: "";
}

#shelf-section .slick-next::before{
    color: initial;
    content: "";
}

#shelf-section .slick-dots li button:before{
    color:#BDBDBD;
    height:10px;
    width:10px;
}

#shelf-section .slick-dots li.slick-active  button:before{
    color:#F8475F;
}

#shelf-title{
    font-family: 'Nunito', sans-serif;
    font-weight:900;
    font-size:20px;
    margin-top: 0;
    margin-bottom: 10px;
    display:flex;
    flex-direction: column;
    justify-content: left;
}

.shelf-divider{
    width: 65px;
    height:4.3px;
    margin:0;
    margin-bottom: 20px;
    border:none;
    background-color:#C0C0C0; 
}

#shelf-wrapper{
    display:flex;
    flex-direction: row;
    margin-bottom:3.6vw;
}

#shelf-left-arrow{
    object-fit: none;
    position: absolute;
    align-self: center;
    margin-left: -26px;
}

#shelf-right-arrow{
    object-fit: none;
    position: absolute;
    align-self: center;
    margin-left: -26px;
}

#shelf-products{
    display:flex;
    flex-direction:row;
    margin-top:1.45vw;
    justify-content:space-between;
    gap: 100px;
}

#shelf-product-image{
    margin: auto;
    width:100%;
}

#shelf-product-info{
    background-color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

#shelf-product-name{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #7A7A7A;
}

#shelf-product-rating{
    margin-top:4.65px;
}

#shelf-product-list-price{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #7A7A7A;
    margin-top: 60px;
    margin-bottom: 8px;
    position: absolute;
}

#shelf-product-price{
    margin-top: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000; 
}

#shelf-product-installments{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #7A7A7A;
}

#shelf-product-buy-button{
    width: 125.28px;
    height: 32.42px;
    margin-bottom:.75vw;
    margin-top:8px;
    background-color:black;
    visibility: hidden;
    border-radius: 5px;
    color:white;
}

#shelf-product-card:hover #shelf-product-buy-button{
    visibility: visible;
}

#shelf-product-card:hover #shelf-product-info{
    background-color: #E6E8EA;
}


@media (max-width: 1280px) {
    #shelf-section{
        margin: 25px auto 70px;
        display:block;
    }
}


@media (max-width: 500px) {
    #shelf-product-buy-button{
        width: 140px;
        height: 36px;
    }

    #shelf-section{
        padding: 0 12px;
    }
}