#header-section{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    height:5vw;
}

#header-sandwich{
    visibility:hidden;
}

#header-corebiz-logo{
    width: 181px;
    height: 41px;
}

#header-login-button{
    margin-left:43px;
    display:flex;
    flex-direction:row;
}

#header-login-button-icon{
    align-self: center;
}

#header-login-button-text{
    font-family: 'Nunito', sans-serif;
    font-weight:regular;
    margin-left:5px;
    color:#7A7A7A; 
}

#header-mini-cart-container{
    margin-left:21px;
    diserplay:flex;
    flex-direction:row;
}

#header-mini-cart-icon{
    align-self:center;
}

#header-mini-cart-counter-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-left:14px;
    color:white;
}

#header-mini-cart-counter-text{
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    align-self:center;
    position:absolute;
    font-size:10px;
}

#header-mini-cart-counter-circle{
    background-color: #F8475F;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    position:absolute;
    z-index:-1;
}