#footer-section{
    background-color:black;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

#footer-location{

}

#footer-location-title{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color:white;
    margin-top: 25px;
    display:flex;
    flex-direction: column;
    justify-content: left;
}

.footer-divider{
    width: 45px;
    height: 5px;
    margin:0;
    margin-top: 16.43px;
    margin-bottom: 21px;
    border:none;
    background-color:#C0C0C0;
}

#footer-location-info{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 28px;
}


#footer-contact{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
}

#footer-contact-email{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;

    width: 195px;
    height: 38px; 
    border-radius:5px;
    background-color: white;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #000000;
}

#footer-contact-consultant{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;

    width: 195px;
    height: 38px; 
    border-radius:5px;

    margin-top: 25px;
    background-color: white;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #000000;
}


#footer-contact-email img,
#footer-contact-consultant img{
 margin-right: 20.7px;
}

#footer-sponsor{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}

#footer-sponsor-corebiz{
    color: white;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 10.6017px; 
    margin-right: 25px;
}

#footer-sponsor-vtex{
    color: white;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 10.6017px; 
}

@media (max-width: 850px) {
    .footer-divider{
        width: 32px;
        margin-top: 18px;
        margin-bottom: 12px;
    }

    #footer-location{
        margin-bottom: 25px;
    }

    #footer-contatct{
        margin-bottom: 25px;
    }

    #footer-section{
        flex-direction: column;
    }

    #footer-sponsor{
        margin-bottom: 10px;
    }

    #footer-sponsor-corebiz{
        margin-right: 100px;
    }

    #footer-contact-email{
        width: 198px;
        height: 38px;
        margin-bottom: 25px;
    }
    #footer-contact-consultant{
        width: 198px;
        height: 38px;
    }
}
